.firstSec {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  color: #fff;

  background: url("/new-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* METODOLOGIA DE ENSINO  */

.metodologiaDeEnsino {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  padding-top: 6rem;
  justify-content: center;
  align-items: center;

  background-color: #fff7f1;
  /* background-color: #f2cda0; */
  color: #fff;
  padding-inline: 8rem;
  padding-bottom: 5rem;
}

.metodologiaDesc {
  display: flex;
  flex-direction: row;
}

.metodologiaDeEnsino p {
  color: #766350;
}

.metodologiaDesc h3 {
  color: #4D3B24;
}

.metodologiaDesc strong {
  color: #4D3B24;
}

.metodologiaIMG {
  display: flex;
}

.metodologiaDesc img {
  display: flex;
  width: 700px;
  align-self: center;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title > h1 {
  font-size: 46px;
  color: #4D3B24;
}

.desc1 {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 4rem;
  gap: 20px;
}

.desc1 > h3 {
  font-size: 22px;
}

.desc1 > p {
  width: 70%;
  text-align: justify;
  font-size: 22px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;

  margin-top: 5rem;
}

/* childrenPogress */

.childrenPogress {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0e9e3;
  height: auto;
}

.childrenPogressContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  justify-content: space-around;
}

.childrenPogress h1,
.childrenPogress h2 {
  color:#4D3B24;
}

.childrenProgressTitle {
  margin-top: 4rem;
}

.childrenProgressTitle > h1 {
  font-size: 40px;
  color:#4D3B24;
}

.childrenProgressText {
  display: flex;
  width: 40%;
  font-size: 22px;
  text-align: justify;
  justify-content: flex-end;
}

.childrenProgressText p {
  color: #766350;
  font-size: 18px;
  font-weight: 500;
}

.childrenProgressImg img {
  width: 600px;
  border-radius: 6px;
}

.vantagens {
  margin-top: 6rem;
}

.vantagensTitle {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.checkboxContainer {
  display: flex;
  width: 65%;
  text-align: justify;
  flex-direction: column;
  margin-bottom: 4rem;
  gap: 20px;
}

.chekboxs {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 22px;
  gap: 10px;
}

.checkTexts {
  text-align: left;
}

.checkTexts {
  color: #766350;
  font-weight: 500;
}

.list img{
  width: 42px;
}

.chekboxs > p {
  font-size: 18px;
  width: 100%;
  padding: 5px;
}

.quemSouEu {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  align-items: center;
  padding-inline:8rem;
  height: 60vh;
}

.quemSouEuTitle {
  display: flex;
}

.quemSouEu h1 {
  color:#4D3B24;
}

.quemSouEuContent {
  display: flex;
  margin-top: 6rem;
  height: 100%;
  text-align: justify;
}

.quemSouEuContent p {
  width: 70%;
  font-size: 18px;
  color: #766350;
  font-weight: 500;
}

.contactForm {
  background-color: #e6e6e6;
  padding-block: 3rem;
  background-color: #fff7f1;
}

.formControl {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.formTitle h1 {
  color: #4D3B24;
}

.form {
  display: flex;
  width: 600px;
}

.formBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #3e3e3e;
  background-color: #33261b;
  color: #FFF;
  border-radius: 8px;
  font-weight: 500;
  font-size:18px;
  gap: 4px;
  cursor: pointer;
}

.formBtn:hover {
  color: #cacaca;
  transition: .2s;
  background-color: #1b1510;
}

.wrapper {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around;
  flex-direction:row;
}

.photo img {
  width: 400px;
  height: 400px;
}

@media (max-width: 1700px) {
  .metodologiaDesc img {
    width: 600px;
  }

  .desc1 p {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .metodologiaDeEnsino {
    padding-inline: 3rem;
  }

  .metodologiaDesc img {
    width: 600px;
  }

  .desc1 p {
    font-size: 1.1rem;
    width: 90%;
  }

  .firstSec {
    background-position: center;
  }

}

@media (max-width: 1200px) {
  .metodologiaIMG img {
    width: 500px;
  }

  .childrenProgressImg img {
    width: 500px;
  }

  .vantagens {
    padding-left: 4rem;
  }

}

@media (max-width: 1100px) {
  .metodologiaDesc {
    flex-direction: column; 
  }

  .metodologiaIMG {
    justify-content: center;
  }

  .cards {
    flex-direction: column;
  }

  .childrenPogressContainer {
    align-items: center;
    gap: 3rem;
    flex-direction: column-reverse;
    margin-top: 5rem;
  }

  .childrenProgressText {
    width: 80%;
  }

  .quemSouEu {
    height: auto;
    margin-bottom: 3rem;
  }

  .formControl {
    width: 80%;
  }

  .formControl {
    margin: 0 auto;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .photo img {
    width: 300px;
    height: 300px;
  }

  .quemSouEuContent {
    margin-top: -1rem;
    justify-content: center;
  }

  .quemSouEu {
    padding-inline: 0;
  }
}

@media (max-width: 800px) {
  .metodologiaIMG img {
    width: 300px;
  }

  .childrenProgressImg img {
    width: 300px;
  }

  .title h1, .childrenProgressTitle h1, .quemSouEuTitlem h1, .formTitle h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .vantagens {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .vantagensTitle h1 {
    align-self: center;
    text-align: center;
    font-size: 1.7rem;
  }

  .childrenProgressTitle h1 {
    margin-bottom: -5rem;
  }

  .list {
    display: none;
  }

  .checkTexts {
    text-align: center;
    width: 100%;
  }

  .checkTexts p{
    width: 100%;
  }
}