.firstSec {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
  
  background: url('../public/fundo.png');
  background-size: cover;
  
}

.topGroup {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textsTop {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textsTop > h1 {
  font-size: 46px;
  margin-bottom: 5rem;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
}

.buttonDiv button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #554133;
  background-color: #554133;
  font-size: 17px;
  cursor: pointer;
  color: #FFF;
}

.buttonDiv button:hover {
  transition: .1s;
  background-color: #5c4f46;
}

.firstSecImg {
  display: flex;

  align-items: center;
  justify-content: center
}

.firstSecImg img {
  width: 340px;
  height: 350px;
  border-radius: 6px;
}

.textsTop > p {
  width: 40%;
  font-size: 19px;
}

/* METODOLOGIA DE ENSINO  */

.metodologiaDeEnsino {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  padding-top: 6rem;
  justify-content: center;
  align-items: center;

  background-color: #e1dddd;
  /* background-color: #f2cda0; */
  color: #FFF;
  padding-inline: 8rem;
  padding-bottom: 5rem;
}

.metodologiaDesc {
  display: flex;
  flex-direction: row;
}

.metodologiaDeEnsino h1, .metodologiaDeEnsino p {
  /* color: #484848; */
  color: #2c221a;
}

.metodologiaIMG {
  display: flex;
}

.metodologiaDesc img {
  display: flex;
  width: 900px;
  align-self: center;
}

.title {
  display: flex; 
  width: 100%;
  justify-content: center;
}

.title > h1 {
  font-size: 46px;
}

.desc1 {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 4rem;
  gap: 20px;

}

.desc1 > h3 {
  font-size: 22px;
}

.desc1 > p {
  width: 70%;
  text-align: justify;
  font-size: 22px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;

  margin-top: 5rem;
}

/* childrenPogress */

.childrenPogress {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2cba3;
  height: 125vh;
}

.childrenPogressContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  justify-content: space-around;
}

.childrenProgressTitle {
  margin-top: 4rem;
}

.childrenProgressTitle > h1 {
  font-size: 40px;
}



.childrenProgressText {
  display: flex;
  width: 40%;
  font-size: 22px;
  text-align: justify;
  justify-content: flex-end;
  font-weight: 600;
}

.childrenProgressImg img {
  width: 600px;
  border-radius: 6px;
}

.vantagens {
  margin-top: 6rem
}

.vantagensTitle {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.checkboxContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.chekboxs {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 22px;
}

.list {
  font-size: 42px;
}

.chekboxs > p {
  font-size: 18px;
  width: 100%;
  padding: 5px;
}
